:root {
    --sea-color: #203E51;
}

@font-face {
    font-family: 'Goth';
    src: url('/fonts/Gotham-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ephesis';
    src: url('/fonts/Ephesis-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.sea-color {
    color: var(--sea-color);
}