:root {
	//Global font-color
	--sea-color: #203e51;
	//Fonts
	--elementary: "Elementary", sans-serif;
	--feofan: "Feofan", sans-serif;
}

@font-face {
	font-family: "Goth";
	src: url("/fonts/Gotham-Medium.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Ephesis";
	src: url("/fonts/Ephesis-Regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Eileen";
	src: url("/fonts/Eileen-Caps-Black.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Elementary";
	src: url("/fonts/Elementary-Gothic-Bookhand.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Kells";
	src: url("/fonts/KellsFLF.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Feofan";
	src: url("/fonts/Feofan.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Good-vibes";
	src: url("/fonts/good-vibes-pro.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Rosa-marena";
	src: url("/fonts/rosa-marena.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

h1 {
	font-family: var(--elementary);
}

h2 {
	font-family: var(--feofan);
}

.sea-color {
	color: var(--sea-color);
}
